<p>This is Mr. {{selectedcustomer.name}}</p>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">ID: {{selectedcustomer.id}}</h5>
      <h5 class="card-title">Name: {{selectedcustomer.name}}</h5>
      <h5 class="card-title">Address: {{selectedcustomer.address}}</h5>
      <h5 class="card-title">Contact: {{selectedcustomer.contact}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>